body {
    background: linear-gradient(135deg,  #000000, #014500);
    color:  rgb(226, 226, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    height: 80px;
    margin-top: -70px;
    margin-left: 20px;
    margin-bottom: 0px;
    position: fixed;
}

a {
    color: rgb(226, 226, 255);
    text-decoration: None;
}

.header {
    width: 600px;
    display: flex;
    top: 40px; 
    margin-left: 840px;
    position: fixed;
}

/* .header span {
    margin-top: 138px;
    margin-right: 24px;
    font-size: large;
    opacity: 1;
} */


ul{
    width: 500px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

li{
    display: inline;
}

a:hover{
    color:#ffffff;
}

.PageName {
    margin-top: 100px;
    margin-left: 200px;
    font-size: 30px;
}

.categories {
    margin-top: 100px;
    margin-left: 100px;
}

.category {
    margin-right: 40px;
}

.catname {
    font-size: 30px;
}

.imag {
    width: 500px;
    height: auto;
    margin-left: -40px;
    margin-top: -20px;
}

body {
    background: linear-gradient(135deg,  #000000, #014500);
    color:  rgb(226, 226, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    height: 80px;
    margin-top: -70px;
    margin-left: 20px;
    margin-bottom: 0px;
    position: fixed;
}

a {
    color: rgb(226, 226, 255);
    text-decoration: None;
}

.header {
    width: 600px;
    display: flex;
    top: 40px; 
    margin-left: 840px;
    position: fixed;
}

/* .header span {
    margin-top: 138px;
    margin-right: 24px;
    font-size: large;
    opacity: 1;
} */


ul{
    width: 500px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

li{
    display: inline;
}

a:hover{
    color:#ffffff;
}

.PageName {
    margin-top: 100px;
    margin-left: 200px;
    font-size: 30px;
}

.categories {
    margin-top: 100px;
    margin-left: 100px;
    
}

.category {
    margin-top: -20px;
    margin-right: 1040px;
}

.catname {
    font-size: 27px;
}

.imag {
    width: 500px;
    height: auto;
    margin-left: -40px;
    margin-top: -20px;
}

.price {
    font-size: 16px;
}

.descr {
    font-size: 16px;
}

.imag {
    width: 800px;
    margin-left: 30px;
}

.main {
    margin-left: 850px;
    margin-top: -400px;
}

.param {
    font-size: 20px;
    margin-left: 310px;
    margin-top: 90px;
}

.pname {
    display: flex;
    flex-direction: column;
}

.pvalue {
    margin-left: 500px;
    margin-top: -270px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.zak {
    font-size: 26px;
    border: 3px solid black;
    padding: 10px 15px;
    border-radius: 30px;
    border-color: #000000;
    margin-left: 610px;
    background: #000000;
    margin-bottom: 100px;
}

.footer {
    margin-top: 60px;
    margin-left: 690px;
}