{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMW</title>
    <link rel="stylesheet" href="{% static 'styles/cabinet.css' %}">
    <link rel="icon" type="images/x-icon" href="./Фавикон/new logo 3 (1).ico">

</head>
<body>
    <img class="logo" src="{% static 'static\logo.png' %}" alt="logo">
    
    <div id="header" class="header">
        <ul>
            <li><a href="#">Каталог</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Корзина</a></li>
        </ul>
    </div>

    <div class="info">
        <p class="priv">Здравстуйте, Matt!</p>
        <img src="{% static 'static\profile.png'%} " alt="profile pic" width="150px" height="auto">
        <p class="name">Matt</p>
        <p class="email">email@gmail.com</p>
        <p class="birth">23.02.2003</p>
        <p class="rang">Silver</p>
    </div>

    <div class="prev">
        <p class="prevname">Предыдущие покупки</p>
        <ul class="prevlist">
            <li>BMW m5</li>
        </ul>
    </div>

    <div class="footer">
        <p class="s">© BMW AG 2024</p>
    </div>
</body>
</html>