{% extends 'base.html' %}
{% load static %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% endblock %}

    {% block content %}
    <p class="nadpis">Bayerische Motoren Werke AG</p>
    
    <span class="descr">
        <p class="innerDescr">BMW - уже не просто автомобиль.</p>
        <p class="innerDescr">Это качество и уровень, созданный многолетней историей и доказанный на практике.</p>
        <p class="innerDescr">С BMW не бывает плохих дней.</p>
    </span>
    <img class="m5" src="{% static 'static\bmwM5.jpg' %}" alt="bmwM5">


    <p class="spec">Специальное предложение</p>

    <img class="specImg" src="{% static 'static\m5-1.png' %}" alt="m5-1">
    <p class="name">BMW 520i седан</p>
    <p class="price">$35 000</p>
    <a class="more" href="#">Узнать больше</a>

    <span>
        <p class="catalog">Каталог</p>

        <img class="specImg1" src="{% static 'static\bmw-new-x7.png' %}" alt="m5-1">
        <p class="name1">BMW X7 2023</p>
        <p class="price1">$75 000</p>
        <a class="more1" href="#">Узнать больше</a>
    <!--
        <img class="specImg2" src="static\bmw-x3.png" alt="m5-1">
        <p class="name2">BMW X3 2023</p>
        <p class="price2">$60 000</p>
        <a class="more2" href="#">Узнать больше</a> -->
    </span>

    <p class="catlink">
        <a class="catlink" href="{% url 'goods:catalog' %}">Перейти к каталогу ></a>
    </p>


    <p class="subscription">Подписка на BMW</p>
    <img class="wha" src="{% static 'static\amobil.webp' %}" alt="wha?">
    <p class="supsubb">
        <p class="subb">Возможность пользования </p>
        <p class="subb">автомобилем без необходимости</p>
        <p class="subb">покупки</p>
        <a class="subbl" href="#">Узнать больше</a>
    </p>


    {% endblock %}
