{% extends 'base.html' %}
{% load static %}



    {% block css %}
    <link rel="stylesheet" href="{% static 'styles/catalog.css' %}">
    {% endblock %}


    {% block content %}
    <p class="PageName">Каталог</p>
    <div class="categories">
        <div class="category">
            {% for category in categories %}
            <div class="catname">
                <a class="catname" href="{% url 'goods:categories' category.slug %}">{{ category.name }}</a>
            </div>
            <img class="imag" src="{{ category.image.url }} " alt="{{ category.slug }}">
            {% endfor %}
        </div>
    </div>
    {% endblock %}
