{% extends 'base.html' %}
{% load static %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'styles/categories.css' %}">
    {% endblock %}


    {% block content %}
    <p class="PageName">{{ category.name }}</p>
    <div class="categories">
        {% for good in goods %}
        <img class="imag" src="{{ category.image.url }}" alt="{{ category.slug }}">
        <div class="category">
            <a class="catname" href="{% url 'goods:goods' good.slug %}">{{ good.name }}</a>
            <p class="price">{{ good.price }}</p>
            <p class="descr">{{ good.description }}</p>
        </div>
            {% endfor %}
    </div>
    {% endblock %}
