{% extends 'base.html' %}
{% load static %}


    {% block css %}
    <link rel="stylesheet" href="{% static 'styles/goods.css' %}">
    {% endblock %}



    {% block content %}
    <p class="PageName">{{ good.name }}</p>
    <img class="imag" src="{{ good.image.url }}" alt="m5">
    <div class="main">
        <p class="name">{{ good.name }}</p>
        <p class="price">{{ good.price }}</p>
        <p class="descr">{{ good.description }}</p>
    </div>
    <div class="param">
        <ul class="pname">
            <li><p>Мощность, кВт (л.с.) при об/мин:</p></li>
            <li><p>Разгон 0–100 км/ч в секундах:</p></li>
            <li><p>Расход топлива в смешанном цикле, л/100 км:</p></li>
            <li><p>Выбросы CO2 в г/км (смешанный цикл):</p></li>
        </ul>
        <ul class="pvalue">
            <li><p>{{ good.power }}</p></li>
            <li><p>{{ good.acceleration }}</p></li>
            <li><p>{{ good.consumption }}</p></li>
            <li><p>{{ good.emissions }}</p></li>
        </ul>
    </div>
    <a class="zak" href="#">Получить предложение</a>
    {% endblock %}
